@model List<asociatie_proprietari.Models.Apartament>

@{
    ViewData["Title"] = "Apartamente";
}

<h1>Apartamente</h1>

@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>Numar Apartament</th>
                <th>Scara</th>
                <th>Numar Camere</th>
                <th>Numar Persoane</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var apartment in Model)
            {
                <tr>
                    <td>@apartment.NumarApartament</td>
                    <td>@apartment.Scara</td>
                    <td>@apartment.NumarCamere</td>
                    <td>@apartment.NumarPersoane</td>
                    <td>@apartment.NumarPersoane</td>
                    <td>  <a asp-action="Edit" asp-route-id="@apartment.ApartamentId">Edit</a> </td>
                </tr>
                <div>
                   
                </div>
            }
        </tbody>
    </table>
    

}
else
{
    <p>No apartments found for this user.</p>
}
