@model asociatie_proprietari.Models.ConsumApa

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ConsumApa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumApaRece)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumApaRece)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConsumApaCalda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConsumApaCalda)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apartament)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apartament.ApartamentId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
